<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/webjars/jquery/3.6.4/jquery.min.js"></script>
    <title>Register here</title>
    
  </head>
  <body>
    <h1>Register Here</h1>
    <div>
    <form th:action="@{/registerView}" th:Object= ${registerDto} th:method="post">
    <font color=red><p th:text="${emsg}"></p></font>
    <font color=green><p th:text="${smsg}"></p></font>
    
    <table>
    	<tr>
    		<td>Name: </td>
    		<td><input type="text" th:field="*{name}" required/></td>
    	</tr>
    	
    	<tr>
    		<td>Email</td>
    		<td><input type="email" th:field="*{email}" required/></td>
    	</tr>
    	
    	<tr>
    		<td>Phone No</td>
    		<td><input type=number th:field="*{phone}" required/></td>
    	</tr>
    	
    	<tr>
    		<td>Country</td>
    		<td>
    		<select th:field="*{countryId}" id="countryId"  class="form-select"  required>
    		<option value="">-Select-</option>  
    		<option th:each="entry : ${countries.entrySet()}" th:value="${entry.key} "
    		th:text="${entry.value}"/>
    		</select>
    		</td>
    	</tr>
    	
    	<tr>
    		<td>State</td>
    		<td>
    		<select th:field="*{stateId}" id="stateId"  class="form-select"  required>
    		<option value="">-Select-</option>
    		
    		</select>
    		</td>
    	</tr>
    	
    	<tr>
    		<td>City</td>
    		<td>
    		<select th:field="*{cityId}" id="cityId"  class="form-select"  required>
    		<option value="">-Select-</option>
    		</td>
    	</tr>
    	
    	<tr>
    		<td></td>
    		<td><input type="submit" value="Submit" class="btn btn-primary"/></td>
    	</tr>
    	
    	
    </table>
    If already registered ?<a href="/">Login here</a>
		
    </form>
    </div>
        <script>

		$(document).ready(function () {

			$("#countryId").on("change", function () {

				$('#stateId').find('option').remove();
				$('#cityId').find('option').remove();

				$('<option>').val('').text('-Select-').appendTo("#stateId");
				$('<option>').val('').text('-Select-').appendTo("#cityId");

				var cid = $('#countryId').val();
				$.ajax({
					type: 'GET',
					url: '/getState/' + cid,
					success: function (response) {
						console.log(response);
						$.each(response, function (key, value) {
							$('<option>').val(key).text(value).appendTo("#stateId");
						});
					}
				});
			});

			$("#stateId").on("change", function () {

				$('#cityId').find('option').remove();
				$('<option>').val('').text('-Select-').appendTo("#cityId");


				var sid = $('#stateId').val();
				$.ajax({
					type: 'GET',
					url: '/getCity/' + sid,
					success: function (response) {
						console.log(response);
						$.each(response, function (key, value) {
							$('<option>').val(key).text(value).appendTo("#cityId");
						});
					}
				});
			});
		});

	</script>
  </body>
</html>